
  .work-section-wrapper {
    margin-top: 8rem;
  }

  @media (min-width: 992px) {
    .work-section-top p {
      text-align: center;
      font-size: 2.3vh;
      max-width: 600px !important;
    }
  }
  @media (max-width: 991px) {
    .work-section-top p {
      text-align: center;
      font-size: 1.9vh;
      max-width: 95% !important;
    }
  }
  .info-boxes-img-container img{
    height: 13vw;
    width: 20vw;
    margin-bottom: 0.5vw;
    margin-top: 1.4vw;
  }
  .work-section-top h1 {
    max-width: 700px !important;
    position: relative;
    padding-bottom: 0.5vw;
    margin-bottom:1vw ;
    font-size: 3vw;
    
  }
  .work-section-top h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 7.5%;
    height: 0.3vh;
    background-color: blue;
    width: 85%;
  }
  .work-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
  }
  .work-section-info {
    width: 20vw;
    min-height: 30vw;
    background-color: rgb(0, 0, 0);
    background-color: rgb(47,119,111);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #ffffff;
    margin: 1rem 2rem;
    transition: ease-in-out 0.2s;
  }
  .work-section-info:hover {
    background-color: rgba(255,0,0,0.8);
    background-color: rgb(47,119,111,0.8);
    /* transform: scale(1.05); */
    
  }
  .work-section-info h2 {
    margin: 1vw 0rem 0 0;
    font-size: 1.1vw;
    font-weight: 600;
  }
  .work-section-bottom {
    margin-top: 2rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .work-section-info p {
    flex: 1;
    font-size: 1vw;
    display: flex;
    align-items: center;
  }
  .activity-home{
    padding-top: 2%;;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  @media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .primary-button {
      font-size: 1rem;
    }
    .home-bannerImage-container {
      max-width: 600px;
    }
  }
  @media (max-width: 800px) {
    .nav-logo-container {
      max-width: 140px;
    }
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
    .home-bannerImage-container {
      max-width: 450px;
    }
    .home-banner-container,
    .about-section-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .about-section-container {
      flex-direction: column;
    }
    .home-image-section,
    .about-section-image-container {
      width: 100%;
      max-width: 400px;
    }
    .primary-heading {
      text-align: center;
      max-width: 90%;
    }
    .primary-text {
      text-align: center;
      max-width: 80%;
    }
    .home-text-section,
    .about-section-text-container {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
    .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
    .about-section-container {
      margin-top: 5rem !important;
    }
    .about-buttons-container {
      justify-content: center;
      flex-direction: column;
    }
    .primary-subheading {
      text-align: center;
    }
    .watch-video-button {
      margin-left: 0rem !important;
      margin-top: 1rem;
      font-size: 1rem !important;
    }
    .watch-video-button svg {
      margin-right: 0.5rem !important;
    }
    .about-section-image-container {
      margin-right: 0rem !important;
    }
    .work-section-wrapper {
      margin-top: 5rem !important;
    }
    .work-section-bottom {
      margin-top: 1rem !important;
    }
    .contact-form-container {
      padding: 0.5rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem !important;
    }
    .contact-form-container input {
      font-size: 1rem !important;
      max-width: 100%;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.8rem !important;
      text-align: center;
    }
    .footer-wrapper {
      flex-direction: column;
    }
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
    }
    .footer-section-columns {
      margin: 1rem 0rem;
    }
    /* .App {
      max-width: 95vw;
    } */
  }
  @media (max-width: 600px) {
    .home-bannerImage-container,
    .about-background-image-container {
      display: none;
    }
  }