.heromain_background{
    background-color: white;
}

.heromain{
    /* height: 45vw; */
    padding-top: 3vw;
    padding-bottom:3vw ;
}
.heromain_mainBox{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.heromain_textBox{
    text-align: left;
    width: 60%;
    padding-top: 8vw;
    /* padding-top: 5vw; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.heromain_mainBox h1{
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 0.3vw;
    color: rgb(52,58,57);
    padding-top:1vw ;
}
.heromain_mainBox h2{
    font-size: 1.4vw;
    margin-bottom: 2.5vw;
    color: rgb(95,95,95);
}
.heromain_imageBox{
    width: 40%;
}
.heromain_imageBox img{
    height: 30vw;
}
.heromain_inputBox{
    height: 4vw;
    width: 35vw;
    border-radius: 0.5vw;
    margin: auto;
    display: flex;
    color: black;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 5vw;
}
.heromain_inputBoxSeachText{
    width: 70%;
    /* background-color: pink; */
    padding: 0.5vw 1vw; 
    
}
.heromain_inputBoxSeachFilter{
    width: 30%;
    background-color: rgb(47,119,111);
    color: white;
    padding: 0 1vw;
}
.heromain_inputBoxSeachFilter option{
    background-color: white;
    color: black;
}